.InputfieldRockDaterangePicker label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.InputfieldRockDaterangePicker .rc-button {
  gap: 10px;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.05);
}
.InputfieldRockDaterangePicker .rc-button .uk-radio:not(:checked),
.InputfieldRockDaterangePicker .rc-button .uk-checkbox:not(:checked) {
  background-color: white;
}
.InputfieldRockDaterangePicker .rc-rrule table td {
  white-space: nowrap;
}
.InputfieldRockDaterangePicker .rc-rrule table td:first-child {
  width: 1%;
  white-space: nowrap;
  padding-right: 20px;
}
.InputfieldRockDaterangePicker .rc-rrule [name="freq"]:not(.fake-important):not(.fake-important) {
  width: 150px;
}
.InputfieldRockDaterangePicker .rc-rrule [name="interval"] {
  width: 80px;
}
.InputfieldRockDaterangePicker .rc-rrule [name="until"] {
  width: 150px;
}
.InputfieldRockDaterangePicker .rc-rrule .uk-checkbox,
.InputfieldRockDaterangePicker .rc-rrule .uk-radio {
  margin-top: 1px;
}
.InputfieldRockDaterangePicker .tabulator-paginator > label:first-child {
  display: none;
}
.AdminStyleRock .daterangepicker td.in-range {
  background-color: var(--rock-gray-100);
}
.AdminStyleRock .daterangepicker td.today {
  background-color: var(--rock-gray-600);
  color: white;
}
.AdminStyleRock .daterangepicker td.active,
.AdminStyleRock .daterangepicker td.active:hover {
  background-color: var(--rock-primary);
  color: #fff;
}
.AdminStyleRock .daterangepicker td.off,
.AdminStyleRock .daterangepicker td.off.in-range,
.AdminStyleRock .daterangepicker td.off.start-date,
.AdminStyleRock .daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}
